<html>
<div id="hideMe" class="alert">
  <strong id="hideMe">ABOUT US</strong>
</div>
<div class="line-mixed"></div>

<div id="to-be-scrolled" class="first-text">

           
	<div class="first-step"></div>
		<div class="tut-1-div">	
			<span class="tut-1"> <b>Type</b> or <b>Copy</b> any resources that you want to <b>generate</b> and then <b>paste</b> it in the text box.</span>
		</div>
		
	<button type="submit" class="fake-button">Generate</button>
		<div class="tut-2-div">	
			<span class="tut-2"> After <b>typing</b> or <b>pasting</b> any resources, click the <b>generate</b><span style="font-size:1.5vw;margin-left:2%;">button</span>. Generating questions will took a while </span>
		</div>
	<div class="third-step"></div>
		<div class="tut-3-div">	
			<span class="tut-3"> When generating is finished, click the <b>"save as pdf"</b> button to save it as a pdf file. </span>
		</div>	
 <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
</div>
<div class="second-picture">
	
</div>
<div class="second-text">
		<h2> What is Question Generator.ai?</h2>
		<span>
		&nbsp;&nbsp;&nbsp;&nbsp;Question Generator.ai is a tool that provides efficiency when it comes to creating exams and quizzes.
		It helps to create a number of questions just by copying and pasting your &nbsp;&nbsp;&nbsp;&nbsp;selected topic to our generating text box and by clicking the generate button.
		The number of questions generated depends on the number of questions that will be inserted. </span>
</div>
<div class="third-picture">

</div>
<div class="second-text">
		<h2>Say "Goodbye" by using Question Generator.ai</h2>
		<span>&nbsp;&nbsp;&nbsp;&nbsp;Say "Goodbye" to the tiring, grueling, inefficient, and time-consuming way of creating your exams and quizzes by using the Question Generator.ai tools.</span>
</div>
<div class="first-picture">

</div>
</html>