#hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        visibility:hidden;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
       visibility:hidden;
        overflow:hidden;
    }
}
.alert {
	font-family:MONOSPACE;
    position:fixed;
	text-align:center;
	height:8%;
	width:35%;
	padding: 15px 20px;
	margin-top:-45%;
	margin-left:30%;
	z-index:2;
	background:rgb(0,117,54,0.5);
	color: white;
 

}
.tut-1-div{
	position:absolute;
	height:25%;
	width:20%;
	padding:1%;
	justify-content:center;
	background:transparent;
	margin-left:5%;
	margin-top:22%;
	box-sizing:border-box;
}	
.tut-1{
	color:white;
	font-size:1.5vw;
	margin:0;
	padding:0;
}
.tut-2-div{
	position:absolute;
	white-space: normal;
	word-spacing:normal;
	height:25%;
	width:20%;
	padding:1%;
	justify-content:center;
	background:transparent;
	margin-left:33%;
	margin-top:22%;
	box-sizing:border-box;
}	
.tut-2{
	color:white;
	font-size:1.5vw;
}
.tut-3-div{
	position:absolute;
	height:25%;
	width:20%;
	padding:1%;
	justify-content:center;
	background:transparent;
	margin-left:61%;
	margin-top:22%;
	box-sizing:border-box;
}	
.tut-3{
	color:white;
	font-size:1.5vw;
}
.first-step{
	background:url("../../../img/copy.png");
	background-size:contain;
	background-repeat:no-repeat;
	position:absolute;
	margin:10% 11%;
	height:30%;
	width:10%;
	outline:none;
	box-sizing:border-box;
}
.fake-button{/*Second-step fake generate button*/
	height:10%;
	width:15%;
	background-color:transparent;
	box-shadow:0px 5px 5px #90EE90;
	border:5px solid white;
	outline:none;
	border-radius:10px;
	color:white;
	position:Absolute;
	margin-left:35%;
	margin-top:15%;
}
.third-step{
	background:url("../../../img/pdf.png");
	background-size:contain;
	background-repeat:no-repeat;
	margin:10% 65%;
	height:30%;
	width:10%;
	outline:none;
	position:absolute;
}
.line-mixed{
	width:100%;
	height:1%;
	position:absolute;
	background:linear-gradient(black,#282E34);

}
.second-picture{
	opacity:0.65;
	background-image:url("../../../img/second-picture.png");
	background-size:cover;
	background-position:top;
	width: 100%;
	height: 70vh;
	background-attachment:fixed;
}
.third-picture{
	opacity:0.65;
	background-image:url("../../../img/third-picture.png");
	background-size:cover;
	background-position:top;
	width: 100%;
	height: 70vh;
	background-attachment:fixed;
}
.second-text{
	height:30vh;
	background:#282E34;
	width: 100%;
	text-align:justify;
	justify-content:content;
	padding:2% 2%;
}
.second-text span{
	color:#ddd;
	font-size:1.2vw;
	 word-wrap: break-word;
	
}
.second-text h2{
	color:#ddd;
}
.first-text{
	height:100vh;
	background:#282E34;
	width: 100%;
	text-align:justify;
	padding:50px 80px;
}
.first-picture{
	opacity:0.65;
	background-image:url("../../../img/bg.jpg");
	background-size:cover;
	width: 100%;
	height: 70vh;
	background-attachment:fixed;
}

.circles{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}