<body>
	<div id="hideMe" class="alert">
		<strong id="hideMe">HOME</strong>
	</div>
	
	<section class="services_main_div">
		<img src="../../../assets/lettersbg2.png" id="letbg">
		<img src="../../../assets/qgmoon.png"  id="moon">
		<img src="../../../assets/backgroundmountain.png"  id="bgmountain" >
		<h2 id="text">Services</h2>
		<img src="../../../assets/1.png" id="fgmountain" >
		<div id="moonrays" class="moonrays"></div>
	</section>


	<div class="services_second_div" id="mainwindow">
		<img id="qagenerator" src="../../../assets/qagenerator.png">
		<div class="qatextdiv" id="qatextdiv">
			<h3 class="h3qagenerator">Q & A Generator</h3>
			<span>Generates Question and Answers just by putting your own text resources and then clicking the generate button.</span>
		</div>
		<div class="texttextdiv" id="texttextdiv">
			<h3>Text Summarizer</h3>
			<span>Summarizes your own text resources to make them easier to understand.</span>
		</div>
		<img id="textsummarizer" src="../../../assets/textsummarizer.png">
		<button id="qagenerator_btn">Q & A Generator</button>
		<button id="textsummarizer_btn">Text Summarizer</button>
	
			
	</div>
	
</body>